main {
    .profile__editor {
        max-width: 60rem;
        margin: 0 auto;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .delete__button {
            border: none;
            padding: 0.5rem;
            font-size: 0.8rem;
            background-color: white;
            color: black;
            margin: 2rem auto;
            &:hover {
                background-color: black;
                color: white;
            }
        }
        form {
            width: 40%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            input {
                margin: 0.5rem 0 1rem 0;
            }
            button {
                width: 8rem;
                height: 3rem;
                background-color: white;
                border: solid 0.1rem #bbd2b9;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}