$primary-color: #123;
$secondary-colors: (
    white: #fff,
    black: #000
);

$colors: (
    color1: #cadfc7,
    color2: #BBD2B9,
    color3: #EBF2EA,
    color4: #A8BDA7
);

$quarter: 25%;
$half: 50%;
$threequarter: 75%;

$text-font: 'Quicksand', sans-serif;
